/*--------------------------
    Victor Styles 
-----------------------------*/

span.bold{

	font-weight: 500;
}

.logo{

    max-width: 40px;
}

.bg_image{

    &--project{

        background-position: center -150px;
        position: relative;

        &:after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(25,25,25,0.9);
            display: block;
        }
    }

    &--puig{

        background-image: url(/assets/images/victor/Puig.jpg);
    }

    &--barnapuntcar{

        background-image: url(/assets/images/victor/Barnapuntcar.jpg);
    }

    &--holatutor{

        background-image: url(/assets/images/victor/HolaTutor.jpg);
    }

    &--sanz{

        background-image: url(/assets/images/victor/Sanz.jpg);
    }

    &--casaruralripoll{

        background-image: url(/assets/images/victor/Casarural.jpg);
    }

    &--adarbakar{

        background-image: url(/assets/images/victor/Adarbakar.jpg);
    }
}

.rn-page-title p {

    color: #ffffff;
}

.service_box{

    display: flex;
    height: 100%;
}
